@charset "utf-8";
@import "./reset.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.hero {
    height: 100vh;
    background-color: rgb(16, 16, 60);
    color: white;
    text-align: center;
    padding-top: 40vh;
    backdrop-filter: brightness(0.7);
}

.modal {
    border: none;
    padding: 25px;
    border-radius: 12px;
    width: 310px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background: white;
}

.modal::backdrop {
    background: rgba(0,0,0,0.6);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.primary {
    background-color: #4a63e7;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.secondary {
    background: transparent;
    border: 2px solid #4a63e7;
    padding: 8px 18px;
    border-radius: 50px;
    cursor: pointer;
    color: #4a63e7;
}