@charset "utf-8";
@import "./reset.css";

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.hero {
    height: 100vh;
    background-color: rgb(16, 16, 60);
    color: white;
    text-align: center;
    padding-top: 40vh;
    backdrop-filter: brightness(0.7);
}

.modal {
    border: none;
    padding: 25px;
    border-radius: 12px;
    width: 310px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    background: white;
}

.modal::backdrop {
    background: rgba(0,0,0,0.6);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.primary {
    background-color: #4a63e7;
    border: none;
    padding: 10px 18px;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}

.secondary {
    background: transparent;
    border: 2px solid #4a63e7;
    padding: 8px 18px;
    border-radius: 50px;
    cursor: pointer;
    color: #4a63e7;
}

.toggle-item {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
    align-items: center;
}

.switch {
    position: relative;
    width: 50px;
    height: 26px;
    display: inline-block;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.switch input:checked + .slider {
    background-color: #4a63e7;
}

.switch input:checked + .slider::before {
    transform: translateX(24px);
}
